{% load staticfiles %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
	<head>
		<title>My JSP 'customerCondition_add.jsp' starting page</title>

		<meta http-equiv="pragma" content="no-cache">
		<meta http-equiv="cache-control" content="no-cache">
		<meta http-equiv="expires" content="0">
		<meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
		<meta http-equiv="description" content="This is my page">
		<LINK href="{% static 'admin.css' %}" type=text/css  rel=stylesheet>
		<script type="text/javascript" src="{% static 'CheckForm.js' %}"></script>
        <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="{% static 'WdatePicker.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="WdatePicker.css" >
        <script>
            $(function () {
                addPublisher();
            });
            function addPublisher() {
{#                alert('hello')#}
                $.get('/employee/add_publisher/',callback=function (result) {
{#                    console.log(result.user_str);#}
                    result_obj =JSON.parse(result.user_str);
{#                    alert(result_obj.length);#}
                    //1.清空原来的数据
                    $('select[name="noticePublisher"]>option').remove();
                    for(var i=0;i<result_obj.length;i++){
                        one_obj =result_obj[i];
{#                        alert(i);#}
                        //添加到下拉框
                        //2.添加option
                        $('select[name="noticePublisher"]').append('<option value="'+one_obj.pk+'">'+one_obj.fields.user_name +'</option>');
{#                        alert('hello')#}
                    }
                })
            }
        </script>
    </head>

	<body>
		<form action="/employee/add_notice/"   name="form3" onsubmit="return checkForm('form3');" method="post"    >
			{% csrf_token %}
            <table class=editTable cellSpacing=1 cellPadding=0 width="100%"
				align=center border=0>
				<tr class=editHeaderTr>
					<td class=editHeaderTd colSpan=7>
						<h3>请输入公告的详细信息</h3>
					</td>
				</tr>
				<tr>
					<td width="19%" bgcolor="#FFFDF0">
						<div align="center">
							发布人：
						</div>
					</td>
					<td colspan="3" bgcolor="#FFFFFF">
                        <select name="noticePublisher" id="PublisherName">
{#                            <option value="贵阳">贵阳</option>#}
                        </select>
					</td>
				</tr>
                <tr>
					<td width="19%" bgcolor="#FFFDF0">
						<div align="center">
							公告主题：
						</div>
					</td>
					<td colspan="3" bgcolor="#FFFFFF">
						<input type="text" name="noticeName"   maxlength="20" check_str="公告主题">
						&nbsp;
					</td>
				</tr>
                <tr>
					<td width="19%" bgcolor="#FFFDF0">
						<div align="center">
							公告内容：
						</div>
					</td>
					<td colspan="3" bgcolor="#FFFFFF">
{#						<input type="text"  name="noticeContent"   maxlength="20" check_str="公告内容"/>#}
                        <textarea name="noticeContent" id="" cols="30" rows="10"></textarea>
						&nbsp;
					</td>
				</tr>
                <tr>
					<td width="19%" bgcolor="#FFFDF0">
						<div align="center">
							公告生效时间戳：
						</div>
					</td>
					<td colspan="3" bgcolor="#FFFFFF">
						<input class="Wdate" type="text"style=" width: 145px"  name="startTime"
							readonly="readonly"  id="startTime"
{#                               value="<%=new SimpleDateFormat('yyyy-MM-dd HH:mm').format(new Date()) %>"#}
							onclick="WdatePicker({el:startTime,dateFmt:'yyyy-MM-dd HH:mm:ss'})">
						&nbsp;
						&nbsp;
					</td>
				</tr>
                <tr>
					<td width="19%" bgcolor="#FFFDF0">
						<div align="center">
							公告截止时间戳：
						</div>
					</td>
					<td colspan="3" bgcolor="#FFFFFF">
						<input class="Wdate" type="text" style=" width: 145px"   name="endTime"
							readonly="readonly" id="endTime"
							onclick="WdatePicker({el:endTime,dateFmt:'yyyy-MM-dd HH:mm:ss'})">
						&nbsp;
						&nbsp;
					</td>
				</tr>
                <tr>
					<td width="19%" bgcolor="#FFFDF0">
						<div align="center">
							是否可用：
						</div>
					</td>
					<td colspan="3" bgcolor="#FFFFFF">
                        <select name="flagLabel" id="flagLabelId">
                            <option value="1">是</option>
                            <option value="0">否</option>
                        </select>
						&nbsp;
					</td>
				</tr>

			</table>
			<table class=editTable cellSpacing=1 cellPadding=0 width="100%"
				align=center border=0>
				<tr bgcolor="#ECF3FD" >
					<td width="19%"></td>
					<td colspan="3">
                    <input type="submit" name="submit"  value="提交">
                    &emsp;&emsp;&emsp;&emsp;&emsp;
                    <input type="button" name="button"  onClick="history.back() "  value="返回">
                    </td>
{#					<td width="75%"></td>#}
				</tr>
			</table>

		</form>
	</body>
</html>
