<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>

    <title>查询员工信息</title>

	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="expires" content="0">
	<meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
	<meta http-equiv="description" content="This is my page">
	<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.STYLE1 {font-size: 12px}
.STYLE3 {font-size: 12px; font-weight: bold; }
.STYLE4 {
	color: #03515d;
	font-size: 12px;
}

	a{
	text-decoration: none;
	color: #033d61;
	font-size: 12px;
}

A:hover {
	COLOR: #f60; TEXT-DECORATION: underline
}

-->
</style>
<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">

    function skipPage() {
        var skipNum = $('#textfield').val();
        window.location='/employee/empl_list.html?num='+skipNum;
    }
    function skipFlagPage() {
        var skipNum = $('#textfield').val();
        var selectId = $('#selectId').val();
        var flag = $('#flag').val();
        window.location='/employee/empl_list.html?num='+skipNum+'&flag='+flag+'&selectValue='+selectId;
    }
var  highlightcolor='#c1ebff';
//此处clickcolor只能用win系统颜色代码才能成功,如果用#xxxxxx的代码就不行,还没搞清楚为什么:(
var  clickcolor='#51b2f6';
function  changeto(){
source=event.srcElement;
if  (source.tagName=="TR"||source.tagName=="TABLE")
return;
while(source.tagName!="TD")
source=source.parentElement;
source=source.parentElement;
cs  =  source.children;
//alert(cs.length);
if  (cs[1].style.backgroundColor!=highlightcolor&&source.id!="nc"&&cs[1].style.backgroundColor!=clickcolor)
for(i=0;i<cs.length;i++){
	cs[i].style.backgroundColor=highlightcolor;
}
}

function  changeback(){
if  (event.fromElement.contains(event.toElement)||source.contains(event.toElement)||source.id=="nc")
return
if  (event.toElement!=source&&cs[1].style.backgroundColor!=clickcolor)
//source.style.backgroundColor=originalcolor
for(i=0;i<cs.length;i++){
	cs[i].style.backgroundColor="";
}
}

function  clickto(){
source=event.srcElement;
if  (source.tagName=="TR"||source.tagName=="TABLE")
return;
while(source.tagName!="TD")
source=source.parentElement;
source=source.parentElement;
cs  =  source.children;
//alert(cs.length);
if  (cs[1].style.backgroundColor!=clickcolor&&source.id!="nc")
for(i=0;i<cs.length;i++){
	cs[i].style.backgroundColor=clickcolor;
}
else
for(i=0;i<cs.length;i++){
	cs[i].style.backgroundColor="";
}
}
</script>

  </head>

  <body>


<form  action="/employee/empl_list.html" method="post">
    {% csrf_token %}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	  <tr>
    <td height="30" background="/static/tab_05.gif"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="12" height="30"><img src="/static/tab_03.gif" width="12" height="30" /></td>
                <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td class="STYLE4" align="center">&nbsp;&nbsp;请输入查询内容：<input id="selectId" type="text" {% if flag %} value="{{ selectValue }}" {% endif %} name="userName"  style="width: 290px"/>
                <input id="flag" type="hidden" value="{{ flag }}">
            </td>
            <td class="STYLE4">&nbsp;&nbsp;请选择查询方式：<select name="queryType" style="width: 100px">
      					<option  value="1">员工姓名</option>
     				 	<option  value="2">部门名称</option>
     				 	<option  value="3"> 角色名称</option>
     				 	<option  value="4"> 员工学历</option>
   				 </select>
   				</td>
            <td class="STYLE4">&nbsp;&nbsp;<input  type="submit" value="查询" style="width:50px"/></td>
          </tr>
        </table></td>
        <td width="16"><img src="/static/tab_07.gif" width="16" height="30" /></td>
      </tr>
    </table></td>
  </tr>


  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="8" background="/static/tab_12.gif">&nbsp;</td>
        <td><table width="100%" border="0" cellpadding="0" cellspacing="1" bgcolor="b5d6e6" onmouseover="changeto()"  onmouseout="changeback()">
          <tr>
            <td height="22" background="/static/bg2.gif" bgcolor="#FFFFFF" style="width: 3%"><div align="center"><span class="STYLE1">序号</span></div></td>
            <td height="22" background="/static/bg2.gif" bgcolor="#FFFFFF" style="width: 5%"><div align="center"><span class="STYLE1">姓名</span></div></td>
            <td height="22" background="/static/bg2.gif" bgcolor="#FFFFFF" style="width: 3%"><div align="center"><span class="STYLE1">性别</span></div></td>
            <td height="22" background="/static/bg2.gif" bgcolor="#FFFFFF" style="width:3%"><div align="center"><span class="STYLE1">年龄</span></div></td>
	    	<td height="22" background="/static/bg2.gif" bgcolor="#FFFFFF" style="width:3%"><div align="center"><span class="STYLE1">民族</span></div></td>
            <td height="22" background="/static/bg2.gif" bgcolor="#FFFFFF" style="width: 5%"><div align="center"><span class="STYLE1">部门</span></div></td>
	    	<td height="22" background="/static/bg2.gif" bgcolor="#FFFFFF" style="width: 5%"><div align="center"><span class="STYLE1">角色</span></div></td>
	    	<td height="22" background="/static/bg2.gif" bgcolor="#FFFFFF" style="width: 5%"><div align="center"><span class="STYLE1">学历</span></div></td>
            <td height="22" background="/static/bg2.gif" bgcolor="#FFFFFF" style="width: 5%"><div align="center"><span class="STYLE1">婚姻</span></div></td>
            <td height="22" background="/static/bg2.gif" bgcolor="#FFFFFF" style="width: 15%"><div align="center"><span class="STYLE1">家庭地址</span></div></td>
            <td height="22" background="/static/bg2.gif" bgcolor="#FFFFFF" style="width: 10%"><div align="center"><span class="STYLE1">手机</span></div></td>
            <td height="22" background="/static/bg2.gif" bgcolor="#FFFFFF" style="width: 9%"><div align="center"><span class="STYLE1">电话</span></div></td>
            <td height="22" background="/static/bg2.gif" bgcolor="#FFFFFF" style="width: 15%"><div align="center"><span class="STYLE1">邮箱</span></div></td>
            <td height="22" background="/static/bg2.gif" bgcolor="#FFFFFF" class="STYLE1" style="width: 14%"><div align="center">基本操作</div></td>
          </tr>
            {% for objpage in t_per_page %}
                <tr>
            <td height="20" bgcolor="#FFFFFF" style="width: 3%"><div align="center" class="STYLE1"><div align="center">{{ forloop.counter }} </div></div></td>
            <td height="20" bgcolor="#FFFFFF" style="width: 5%"><div align="center"><span class="STYLE1">{{ objpage.user_name }}</span></div></td>
            <td height="20" bgcolor="#FFFFFF" style="width: 3%"><div align="center"><span class="STYLE1">{{ objpage.user_sex }} </span></div></td>
            <td height="20" bgcolor="#FFFFFF" style="width: 3%"><div align="center"><span class="STYLE1">{{ objpage.user_age }}</span></div></td>
	    	<td height="20" bgcolor="#FFFFFF" style="width: 3%"><div align="center"><span class="STYLE1">{{ objpage.nation }} </span></div></td>
	  	  	<td height="20" bgcolor="#FFFFFF" style="width: 5%"><div align="center"><span class="STYLE1">{{ objpage.department.department_name }} </span></div></td>
	    	<td height="20" bgcolor="#FFFFFF" style="width: 5%"><div align="center"><span class="STYLE1">{{ objpage.role.role_name }} </span></div></td>
            <td height="20" bgcolor="#FFFFFF" style="width: 5%"><div align="center"><span class="STYLE1">{{ objpage.user_diploma }} </span></div></td>
            <td height="20" bgcolor="#FFFFFF" style="width: 5%"><div align="center"><span class="STYLE1">{{ objpage.is_married }}</span></div></td>
	    	<td height="20" bgcolor="#FFFFFF" style="width: 15%"><div align="center"><span class="STYLE1">{{ objpage.user_address }}</span></div></td>
   	    	<td height="20" bgcolor="#FFFFFF" style="width: 10%"><div align="center"><span class="STYLE1">{{ objpage.user_mobile }}</span></div></td>
            <td height="20" bgcolor="#FFFFFF" style="width: 9%"><div align="center"><span class="STYLE1">{{ objpage.user_tel }}</span></div></td>
            <td height="20" bgcolor="#FFFFFF" style="width:15%"><div align="center"><span class="STYLE1">{{ objpage.user_email }}</span></div></td>
            <td height="20" bgcolor="#FFFFFF" style="width: 14%"><div align="center"><span class="STYLE4"><img        src="/static/edt.gif" width="16" height="16" />
            <a href="/employee/emp_edit.html?id={{ objpage.user_id }}">编辑</a>&nbsp;<img src="/static/edt.gif" width="16" height="16" />
            <a href="/employee/emp_detail.html?id={{ objpage.user_id }}">详情</a>&nbsp;<img     src="/static/del.gif" width="16" height="16" />
            <a href="/employee/delUserInfo/?id={{ objpage.user_id }}">删除</a></span></div></td>
          </tr>
            {% endfor %}

          </table></td>
        <td width="8" background="/static/tab_15.gif">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="35" background="/static/tab_19.gif"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="12" height="35"><img src="/static/tab_18.gif" width="12" height="35" /></td>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td class="STYLE4">&nbsp;&nbsp;共有  {{ recordCount }} 条记录，当前第 {{ num }}/{{ lenPage }} 页</td>
            <td><table border="0" align="right" cellpadding="0" cellspacing="0">
                <tr>
{#                         首页#}
                    {% if flag %}
                        <td width="40"><a href="?num=1&flag={{ flag }}&selectValue={{ selectValue }}"><img src="/static/first.gif" width="37" height="15" /></a></td>
                    {% else %}
                        <td width="40"><a href="?num={{ lenPage }}"><img src="/static/first.gif" width="37" height="15" /></a></td>
                    {% endif %}
{#                       上一页#}
                {% if t_per_page.has_previous %}
                    {% if flag %}
                        <td width="45"><a href="/employee/empl_list.html?num={{ t_per_page.previous_page_number }}&flag={{ flag }}&selectValue={{ selectValue }}"><img src="/static/back.gif" width="43" height="15" /></a></td>
                    {% else %}
                        <td width="45"><a href="/employee/empl_list.html?num={{ t_per_page.previous_page_number }}"><img src="/static/back.gif" width="43" height="15" /></a></td>
                    {% endif %}
                {% endif %}
{#                         下一页#}
                   {% if t_per_page.has_next %}
                    {% if flag %}
                        <td width="45"><a href="/employee/empl_list.html?num={{ t_per_page.next_page_number }}&flag={{ flag }}&selectValue={{ selectValue }}"><img src="/static/next.gif" width="43" height="15" /></a></td>
                    {% else %}
                        <td width="45"><a href="/employee/empl_list.html?num={{ t_per_page.next_page_number }}"><img src="/static/next.gif" width="43" height="15" /></a></td>
                    {% endif %}
                    {% endif %}
{#                            尾页#}
                    {% if flag %}
                        <td width="40"><a href="/employee/empl_list.html?num={{ lenPage }}&flag={{ flag }}&selectValue={{ selectValue }}"><img src="/static/last.gif" width="37" height="15" /></a></td>
                    {% else %}
                        <td width="40"><a href="/employee/empl_list.html?num={{ lenPage }}"><img src="/static/last.gif" width="37" height="15" /></a></td>
                    {% endif %}
{#                           跳转_页     用函数处理#}
                  <td width="100"><div align="center"><span class="STYLE1">转到第
                    <input id="textfield" name="textfield" type="text" size="4" style="height:12px; width:20px; border:1px solid #999999;" />
                    页 </span></div></td>
                    {% if flag %}
                        <td width="40"><img onclick="skipFlagPage();" src="/static/go.gif" width="37" height="15" /></td>
                    {% else %}
                        <td width="40"><img onclick="skipPage();" src="/static/go.gif" width="37" height="15" /></td>
                    {% endif %}

                </tr>
            </table></td>
          </tr>
        </table></td>
        <td width="16"><img src="/static/tab_20.gif" width="16" height="35" /></td>
      </tr>
    </table></td>
  </tr>
</table>
</form>
</body>
</html>
<SCRIPT Language=VBScript><!--

//--></SCRIPT>