{% load staticfiles %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
	<head>
		<title>My JSP 'customerCondition_list.jsp' starting page</title>
		<meta http-equiv="pragma" content="no-cache">
		<meta http-equiv="cache-control" content="no-cache">
		<meta http-equiv="expires" content="0">
		<meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
		<meta http-equiv="description" content="This is my page">
      <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/1.9.1/jquery.min.js"></script>
		<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

.STYLE1 {
	font-size: 12px
}

	a{
	text-decoration: none;
	color: #033d61;
	font-size: 12px;
}

A:hover {
	COLOR: #f60; TEXT-DECORATION: underline
}


.STYLE3 {
	font-size: 12px;
	font-weight: bold;
}

.STYLE4 {
	color: #03515d;
	font-size: 12px;
}
-->
</style>

		<script>
var  highlightcolor='#c1ebff';
//此处clickcolor只能用win系统颜色代码才能成功,如果用#xxxxxx的代码就不行,还没搞清楚为什么:(
var  clickcolor='#51b2f6';
function  changeto(){
source=event.srcElement;
if  (source.tagName=="TR"||source.tagName=="TABLE")
return;
while(source.tagName!="TD")
source=source.parentElement;
source=source.parentElement;
cs  =  source.children;
//alert(cs.length);
if  (cs[1].style.backgroundColor!=highlightcolor&&source.id!="nc"&&cs[1].style.backgroundColor!=clickcolor)
for(i=0;i<cs.length;i++){
	cs[i].style.backgroundColor=highlightcolor;
}
}

function  changeback(){
if  (event.fromElement.contains(event.toElement)||source.contains(event.toElement)||source.id=="nc")
return
if  (event.toElement!=source&&cs[1].style.backgroundColor!=clickcolor)
//source.style.backgroundColor=originalcolor
for(i=0;i<cs.length;i++){
	cs[i].style.backgroundColor="";
}
}

function  clickto(){
source=event.srcElement;
if  (source.tagName=="TR"||source.tagName=="TABLE")
return;
while(source.tagName!="TD")
source=source.parentElement;
source=source.parentElement;
cs  =  source.children;
//alert(cs.length);
if  (cs[1].style.backgroundColor!=clickcolor&&source.id!="nc")
for(i=0;i<cs.length;i++){
	cs[i].style.backgroundColor=clickcolor;
}
else
for(i=0;i<cs.length;i++){
	cs[i].style.backgroundColor="";
}
}
</script>
<script type="text/javascript">
	function add(){
			window.location="/employee/add_notice/";
		};
	function query_page_notice() {
	        //获取输入的页码
            page=$('input[name="textfield"]').val();
            alert(page);
            window.location="/employee/notice_list.html?page="+page
    };
</script>
</head>

	<body>

	<form action="/employee/notice_list.html"  method="post">
    {% csrf_token %}
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td height="30" background="{% static 'tab_05.gif'%}">
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td width="12" height="30">
								<img src="{% static 'tab_03.gif' %}" width="12"
									height="30" />
							</td>
							<td>
								<table width="100%" border="0" cellspacing="0" cellpadding="0">
									<tr>
										<td class="STYLE4" align="center">
											&nbsp;&nbsp;请输入查询内容：
											<input type="text" name="noticeInput" style="width: 290px" />
										</td>
										<td class="STYLE4">&nbsp;&nbsp;请选择查询方式：<select name="queryType" style="width: 100px">
      											<option value="公告主题">公告主题</option>
     				 							<option value="公告内容">公告内容</option>
   				 							</select>
   										</td>
										<td class="STYLE4">
											&nbsp;&nbsp;
											<input type="submit" value="查询" style="width: 50px" />
										</td>
										<td class="STYLE4">
											&nbsp;&nbsp;
											<input type="button" value="添加" onclick="add()" style="width: 50px" />
										</td>
									</tr>
								</table>
							</td>
							<td width="16">
								<img src="{% static 'tab_07.gif' %}" width="16"
									height="30" />
							</td>
						</tr>
					</table>
				</td>
			</tr>


			<tr>
				<td>
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td width="8"
								background="{% static 'tab_12.gif' %}">
								&nbsp;
							</td>
							<td>
								<table width="100%" border="0" cellpadding="0" cellspacing="1"
									bgcolor="b5d6e6" onmouseover="changeto()"
									onmouseout="changeback()">
									<tr>
										<td width="5%"
											background="{% static 'bg2.gif' %}"
											bgcolor="#FFFFFF" style="width: 5%; height: 22px;">
											<div align="center">
												<span class="STYLE1">序号</span>
											</div>
										</td>
										<td background="{% static 'bg2.gif' %}"
											bgcolor="#FFFFFF" style="width: 5%; height: 22px;">
											<div align="center">
												<span class="STYLE1">公告人</span>
											</div>
										</td>
										<td background="{% static 'bg2.gif' %}"
											bgcolor="#FFFFFF" style="width: 12%; height: 22px;">
											<div align="center">
												<span class="STYLE1">公告主题</span>
											</div>
										</td>
										<td background="{% static 'bg2.gif' %}"
											bgcolor="#FFFFFF" style="width:48%; height: 22px;">
											<div align="center">
												<span class="STYLE1">公告内容</span>
											</div>
										</td>
										<td background="{% static 'bg2.gif' %}"
											bgcolor="#FFFFFF" style="width: 10%; height: 22px;">
											<div align="center">
												<span class="STYLE1">公告时间</span>
											</div>
										</td>
										<td background="{% static 'bg2.gif' %}"
											bgcolor="#FFFFFF" style="width: 10%; height: 22px;">
											<div align="center">
												<span class="STYLE1">公告截止时间</span>
											</div>
										</td>
										<td        width="10%"
											background="{% static 'bg2.gif' %}"
											bgcolor="#FFFFFF" class="STYLE1"
											style="width: 10%; height: 22px;">
											<div align="center">
												基本操作
											</div>
										</td>
									</tr>
                                    {% for notice in notice_list %}
                                        									<tr>
										<td height="20" bgcolor="#FFFFFF" style="width: 5%">
											<div align="center" class="STYLE1">
												<div align="center">
													{{ forloop.counter|add:pre_nums}}
												</div>
											</div>
										</td>
										<td height="20" bgcolor="#FFFFFF" style="width: 5%">
											<div align="center">
												<span class="STYLE1">{{ notice.user.user_name }}</span>
											</div>
										</td>
										<td height="20" bgcolor="#FFFFFF" style="width: 8%">
											<div align="center">
												<span class="STYLE1">{{ notice.notice_item }}</span>
											</div>
										</td>
										<td height="20" bgcolor="#FFFFFF" style="width: 40%">
											<div align="center">
												<span class="STYLE1">{{ notice.notice_content }}</span>
											</div>
										</td>
										<td height="20" bgcolor="#FFFFFF" style="width: 10%">
											<div align="center">
												<span class="STYLE1">{{ notice.notice_time|date:'Y-m-d H:m:s' }}</span>
											</div>
										</td>
										<td height="20" bgcolor="#FFFFFF" style="width: 10%">
											<div align="center">
												<span class="STYLE1">{{ notice.notice_endtime|date:'Y-m-d H:m:s' }}</span>
											</div>
										</td>
										<td     height="20" bgcolor="#FFFFFF" style="width: 10%">
											<div align="center">
												<span class="STYLE4"><img src="{% static 'del.gif' %}"
														width="16" height="16" /><a
													href="/employee/delete_notice?notice_id={{ notice.notice_id }}">删除</a>
												</span>
											</div>
										</td>
									</tr>

                                    {% endfor %}
                                    
{#									<tr>#}
{#										<td height="20" bgcolor="#FFFFFF" style="width: 5%">#}
{#											<div align="center" class="STYLE1">#}
{#												<div align="center">#}
{#													1#}
{#												</div>#}
{#											</div>#}
{#										</td>#}
{#										<td height="20" bgcolor="#FFFFFF" style="width: 5%">#}
{#											<div align="center">#}
{#												<span class="STYLE1">孙悟空</span>#}
{#											</div>#}
{#										</td>#}
{#										<td height="20" bgcolor="#FFFFFF" style="width: 8%">#}
{#											<div align="center">#}
{#												<span class="STYLE1">最近要开会</span>#}
{#											</div>#}
{#										</td>#}
{#										<td height="20" bgcolor="#FFFFFF" style="width: 40%">#}
{#											<div align="center">#}
{#												<span class="STYLE1">记得带钱</span>#}
{#											</div>#}
{#										</td>#}
{#										<td height="20" bgcolor="#FFFFFF" style="width: 10%">#}
{#											<div align="center">#}
{#												<span class="STYLE1">2013-05-23 23:22:12.0</span>#}
{#											</div>#}
{#										</td>#}
{#										<td height="20" bgcolor="#FFFFFF" style="width: 10%">#}
{#											<div align="center">#}
{#												<span class="STYLE1">2013-05-30 23:22:29.0</span>#}
{#											</div>#}
{#										</td>#}
{#										<td     height="20" bgcolor="#FFFFFF" style="width: 10%">#}
{#											<div align="center">#}
{#												<span class="STYLE4"><img src="{% static 'del.gif' %}"#}
{#														width="16" height="16" /><a#}
{#													href="/crm/servlet/NoticeDeleteServlet?noticeId=3">删除</a>#}
{#												</span>#}
{#											</div>#}
{#										</td>#}
{#									</tr>#}

								</table>
							</td>
							<td width="8"
								background="{% static 'tab_15.gif' %}">
								&nbsp;
							</td>
						</tr>
					</table>
				</td>
			</tr>

			<tr>
				<td height="35" background="{% static 'tab_19.gif' %}">
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td width="12" height="35">
								<img src="{% static 'tab_18.gif' %}" width="12"
									height="35" />
							</td>
							<td>
								<table width="100%" border="0" cellspacing="0" cellpadding="0">
									<tr>
										<td class="STYLE4">
											&nbsp;&nbsp;共有 {{ page_obj.count }} 条记录，当前第 {{ current_page }}/{{ page_obj.num_pages }} 页
										</td>
										<td>
											<table border="0" align="right" cellpadding="0"
												cellspacing="0">
												<tr>
                                                {% if flag == 1 %}
                                                    <!--首页-->
													<td width="40">
                                                        <a href="/employee/notice_list.html?page=1"><img src="{% static 'first.gif' %}"
															width="37" height="15" /></a>
													</td>
                                                    <!-- 上一页 -->
                                                    {% if notice_list.has_previous %}
                                                    <td width="45">
                                                         <a href="/employee/notice_list.html?page={{ notice_list.previous_page_number }}"><img src="{% static 'back.gif' %}"
															width="43" height="15" /></a>
													</td>
                                                    {% endif %}
                                                    <!-- 下一页 -->
                                                    {% if notice_list.has_next %}
                                                    <td width="45">
                                                    <a href="/employee/notice_list.html?page={{ notice_list.next_page_number }}"><img src="{% static 'next.gif' %}"
															width="43" height="15" /></a>
													</td>
                                                    {% endif %}
                                                    <td width="40">
                                                    <a href="/employee/notice_list.html?page={{ page_obj.num_pages }}"><img src="{% static 'last.gif' %}"
															width="37" height="15" /></a>
													</td>
													<td width="100">
														<div align="center">
															<span class="STYLE1">转到第 <input name="textfield"
																	type="text" size="4"
																	style="height: 12px; width: 20px; border: 1px solid #999999;" />
																页 </span>
														</div>
													</td>
													<td width="40">
<img style="cursor: pointer" onclick="query_page_notice()" src="{% static 'go.gif' %}" width="37" height="15" />
													</td>
                                                {% endif %}
												</tr>
											</table>
										</td>
									</tr>
								</table>
							</td>
							<td width="16">
								<img src="{% static 'tab_20.gif' %}" width="16"
									height="35" />
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		</form>
	</body>
</html>
