{% load staticfiles %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
	<head>
		<title>My JSP 'customerCondition_add.jsp' starting page</title>

		<meta http-equiv="pragma" content="no-cache">
		<meta http-equiv="cache-control" content="no-cache">
		<meta http-equiv="expires" content="0">
		<meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
		<meta http-equiv="description" content="This is my page">
		<LINK href="{% static 'admin.css' %}" type=text/css  rel=stylesheet>
        <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>
            $(function () {
                //1.选出selected属性不等于selected的option删除
                $('select[name="houseType"]>option[selected!="selected"]').remove();
                $('select[name="employee"]>option[selected!="selected"]').remove();
                //添加房屋类型
                addType();
                //添加员工
                addEmployee();
            });
            function addType() {
{#                alert('房屋类型');#}
                $.get('/employee/get_house_type/',callback=function (result) {
                    console.log(result.house_types_str);
                    result_obj =JSON.parse(result.house_types_str);
{#                    alert(result_obj.length);#}
                    //1.选出selected属性不等于selected的option删除
{#                    $('select[name="houseType"]>option[selected!="selected"]').remove();#}
                    var type_na=$('select[name="houseType"]>option').val();
{#                    alert(type_na);#}
                    for(var i=0;i<result_obj.length;i++){
                        one_obj =result_obj[i];
{#                        alert(i);#}
                        //添加到下拉框
                        //2.添加option
                        if(one_obj.pk!=type_na){
                        $('select[name="houseType"]').append('<option selected="0"  value="'+one_obj.pk+'">'+one_obj.fields.type_name +'</option>')};
{#                        alert('hello')#}
                    }
                })
            };

            function addEmployee() {
                $.get('/employee/get_employee/',callback=function (result) {
                    console.log(result.employee_str);
                    result_obj =JSON.parse(result.employee_str);
                    var employee_na=$('select[name="employee"]>option').val();
                    for(var i=0;i<result_obj.length;i++){
                        one_obj =result_obj[i];
                        //2.添加option
                        if(one_obj.pk!=employee_na){
                        $('select[name="employee"]').append('<option selected="0"  value="'+one_obj.pk+'">'+one_obj.fields.user_name +'</option>')};
                    }
                })
            }
        </script>
    </head>

	<body>
		<form action="/employee/update_house_info/?house_id={{ house_id }}"   name="form3" onsubmit="return checkForm('form3');" method="post"    >
			{% csrf_token %}
            <table class=editTable cellSpacing=1 cellPadding=0 width="100%"
				align=center border=0>
				<tr class=editHeaderTd>
					<td class=editHeaderTd colSpan=7 style="text-align: center;height:30px;font-size: 15px">
							请编辑响应的房屋信息
					</td>
				</tr>
				<tr>
					<td width="19%" bgcolor="#FFFDF0">
						<div align="center">
							户型：
						</div>
					</td>
					<td colspan="3" bgcolor="#FFFFFF">
                        <select  name="houseType" id="HouseTypeName">
                            <option  selected="selected" value="{{ type_obj.type_id }}">{{ type_obj.type_name }}</option>
                        </select>
					</td>
				</tr>
				<tr>
					<td width="19%" bgcolor="#FFFDF0">
						<div align="center">
							管理员工：
						</div>
					</td>
					<td colspan="3" bgcolor="#FFFFFF">
                        <select name="employee" id="employeeName">
                            <option selected="selected" value="{{ empolyee_obj.user_id }}">{{ empolyee_obj.user_name }}</option>
                        </select>
					</td>
				</tr>

                <tr>
					<td width="19%" bgcolor="#FFFDF0">
						<div align="center">
							房屋地址：
						</div>
					</td>
					<td colspan="3" bgcolor="#FFFFFF">
						<input type="text" name="houseAddress" value="{{ house_address }}"  maxlength="20">
						&nbsp;
					</td>
				</tr>
                <tr>
					<td width="19%" bgcolor="#FFFDF0">
						<div align="center">
							房屋价格：
						</div>
					</td>
					<td colspan="3" bgcolor="#FFFFFF">
						<input type="text"  name="housePrice" value="{{ house_price }}"  maxlength="20" />
{#                        <textarea name="housePrice" id="" cols="30" rows="10"></textarea>#}
						&nbsp;
					</td>
				</tr>
                <tr>
					<td width="19%" bgcolor="#FFFDF0">
						<div align="center">
							房屋环境：
						</div>
					</td>
					<td colspan="3" bgcolor="#FFFFFF">
{#						<input type="text"  name="housePrice"   maxlength="20" />#}
                       <textarea style="width: 100%;border: 0;resize:none" name="houseEnvironment" id="" cols="30" rows="10">{{ house_environment }}</textarea>
						&nbsp;
					</td>
				</tr>
                <tr>
					<td width="19%" bgcolor="#FFFDF0">
						<div align="center">
							是否可用：
						</div>
					</td>
					<td colspan="3" bgcolor="#FFFFFF">
                        <select name="flagLabel" id="flagLabelId">
                            <option value="1">是</option>
                            <option value="0">否</option>
                        </select>
						&nbsp;
					</td>
				</tr>

			</table>
			<table class=editTable cellSpacing=1 cellPadding=0 width="100%"
				align=center border=0>
				<tr bgcolor="#ECF3FD" >
					<td width="19%"></td>
					<td colspan="3">
                    <input type="submit" name="submit"  value="提交">
                    &emsp;&emsp;&emsp;&emsp;&emsp;
                    <input type="button" name="button"  onClick="history.back() "  value="返回">
                    </td>
{#					<td width="75%"></td>#}
				</tr>
			</table>

		</form>
	</body>
</html>
